__pycache__/
*.py[cod]
.venv/
.env
data/logs/
data/results/
data/results.db
data/debug/
data/datasets/
data/raw/
models/*.pt
runs/
.pytest_cache/
/yolo11n-pose.pt
/yolo11n.pt
/data/captures/
/yolov8n-pose.pt
/yolo11s-pose.pt
/data/Paprika_testdata/
/data/Paprika_testdata_1/
